/* construiction de la base */

body{
    margin: 0;
    padding: 0;
    background-color: #03f1cd;
    font-family: 'Inter';
}

#main{
    position: absolute;
    width: 571px;
    height: 784px;
    left: 578px;
    top: 166px;

    background: #FFFFFF;
}


