/* construiction de la base */

body{
    margin: 0;
    padding: 0;
    background-color: #03f1cd;
    font-family: 'Inter';
}

#main{
    position: absolute;
    width: 571px;
    height: 784px;
    left: 578px;
    top: 166px;

    background: #FFFFFF;

}
#content{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}
#content .head{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}
/* le titre Java scipt Quiz */
#content h1{
    margin: 70px 0 0 30px;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    color: #555555;
}

#content p{
    
    margin: 20px 40px 40px 20px;
    padding: 0 25px 0 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: #555555;
}

#content .body #form .columns{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}